
				<!-- Begin Page Header -->
				<div class="header">
					<div class="container">
						<div class="row">
							<!-- Page Title -->
							<div class="col-sm-6 col-xs-12">
								<h1><%= @blog.title %></h1>
							</div>

							<!-- Breadcrumbs -->
							<div class="col-sm-6">
								<ol class="breadcrumb">
									<li><span class="ion-home breadcrumb-home"></span> <%= link_to "Home", root_path %></li>
									<li><%= link_to "Blogs", blogs_path %></li>
									<li><%= @blog.title %></li>
								</ol>
							</div><!-- /column -->
						</div><!-- /row -->  
					</div><!-- /container -->  
				</div><!-- /page header -->  

			</header><!-- /header -->
			<!-- End Header -->
	
<%= link_to "Edit This Post", edit_blog_path %>

			<!-- Begin Content Section -->
			<section class="mt40 mb40">
				<div class="container">
				    <div class="row">
				    	<div class="col-sm-8">
							<div class="blog-post">
		              <div class="view image-hover-1 no-margin">
									<!-- Blog Thumb -->
									<img class="img-responsive" src="images/backgrounds/stock10.jpg" alt="..." />
							        <div class="mask">
								        <div class="image-hover-content">
								       		<!-- Zoom + Blog Link -->
											<a href="images/projects/illustration1.jpg" class="info image-zoom-link">
												<div class="image-icon-holder"><span class="ion-ios7-search image-icons"></span></div>
											</a>
											<a href="portfolio-single-project.html" class="info">
												<div class="image-icon-holder"><span class="ion-link image-icons"></span></div>
											</a>
										</div><!-- /image hover content -->
									</div><!-- /mask-->
								</div><!-- /image hover -->
		            <div class="blog-post-holder">
		                <ul class="list-inline posted-info">                   
		                    <li>By <%= @blog.user.email %></li>
		                    <li>In <a href="#">Design</a></li>
		                    <li>Posted <%= @blog.created_at.strftime("%b %d, %Y") %></li>
		                </ul>
		                <hr align="left" class="mt15 mb10" style="width:50px;">
		                <h3><strong> <%= @blog.title %> </strong></h3>

		                <div class="mb40">
		                <%= @blog.content.html_safe %>
		                </div>
		                

		                <div class="heading ">
		                	<h3> Tell us what you think </h3>

		                </div>


		                <h4>
			                <span class="label label-default "> 
			                	<i class="ion-person-stalker"> </i>
			                	<span class="size-15"> <%= pluralize(@blog.get_upvotes.size, "like") + " this post"%> </span>

			                </span>
		                </h4>

		                <div class=" mb10">

			                <%= link_to like_blog_path(@blog), method: :put do  %>
			                	<button class="btn btn-circle btn-primary"><i class="fa fa-thumbs-up"></i> </button>
			                <% end %>
			                <button class="btn btn-circle btn-twitter"><i class="fa fa-twitter"></i> </button>
			                <button class="btn btn-circle btn-facebook"><i class="fa fa-facebook"></i> </button>
		              
		               	</div>
		                



		            </div>

		                
		        </div>  <!-- end of blogpost -->

		        <div class="blog-comment mt30">
									<div class="heading mb30"><h4>Comments</h4></div>
									<ul class="comments">
										<li class="clearfix">
										  <img src="http://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
										  <div class="post-comments">
										      <p class="meta">Dec 18, 2014 <a href="#">John Doe</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
										      <p>
										          Lorem ipsum dolor sit amet, consectetur adipiscing elit.xercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate tiam a sapien odio, sit amet.
										      </p>
										  </div>
										</li>
										<li class="clearfix">
										  <img src="http://bootdey.com/img/Content/user_2.jpg" class="avatar" alt="">
										  <div class="post-comments">
										      <p class="meta">Dec 19, 2014 <a href="#">Jane Doe</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
										      <p>
										          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										          Etiam a sapien odio, sit amet
										      </p>
										  </div>
										
										  <ul class="comments">
										      <li class="clearfix">
										          <img src="http://bootdey.com/img/Content/user_3.jpg" class="avatar" alt="">
										          <div class="post-comments">
										              <p class="meta">Dec 20, 2014 <a href="#">Steve Doe</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
										              <p>
										                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.Integer vehicula sed justo ac dapibus. In sodales nunc non varius accumsan.Etiam a sapien odio, sit amet
										              </p>
										          </div>
										      </li>
										  </ul>
										</li>
									</ul>
								</div>
								<div class="panel panel-default no-margin">
					                <div class="panel-body">                
					                    <form>
					                        <textarea class="form-control counted" name="message" placeholder="Type in your comment" rows="5" style="margin-bottom:10px;"></textarea>
					                        <h6 class="pull-right" id="counter">320 characters remaining</h6>
					                        <button class="btn btn-rw btn-info" type="submit">Leave Comment</button>
					                    </form>
					                </div>
					       </div>        
		          </div>
				       
				        <!-- Sidebar -->
				        <div class="col-sm-4">
				        	<div class="content-box content-box-bordered mt30-xs mb30">
						        <span class="ion-beaker bordered-icon-color bordered-icon-sm"></span>
						        <h4 class="pt15">Our Blog</h4>
						        <p class="no-margin">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nullam elementum tincidunt massa, a pulvinar leo ultricies ut.</p>
						    </div>

						    <div class="blog-heading"><h3>Navigate</h3></div>
							<ul class="nav nav-pills nav-stacked mb30">
								<li><a href="index.html">Home</a></li>
								<li class="active"><a href="blog-posts-1.html">Blog</a></li>
								<li><a href="portfolio-fixed-3-columns-circle.html">Our Work</a></li>
								<li><a href="portfolio-fixed-about-us-team.html">The Team</a></li>
								<li><a href="pages-contact-1.html">Contact</a></li>
							</ul>

				        	<div class="blog-heading"><h3>About</h3></div>
							<p class="mb30">Vivamus quis est a metus tincidunt viverra. Morbi condimentum tempor libero at cursus. Etiam sollicitudin venenatis arcu id vulputate. Phasellus in pharetra lorem, non suscipit mauris. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...</p>

				        	
				       <div class="blog-heading"
				        	><h3>Recent Posts</h3></div>
							<ul class="list-unstyled latest-posts">
		                        <li>
		                            <h3 class="no-margin"><a href="#">Wireframe for the news view...</a></h3>
		                            <small>5 Jan, 2015 / <a href="#">Web,</a> <a href="#">Webdesign</a></small>
		                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio leo.</p>
		                        </li>
		                        <li>
		                            <h3 class="no-margin"><a href="#">It is a long established fact that a reader</a></h3>
		                            <small>17 Jan, 2015 / <a href="#">Artificial Intelligence</a></small>                            
		                            <p>Pellentesque efficitur blandit dui, porta cursus velit imperdiet sit amet.</p>
		                        </li>
		                        <li>
		                            <h3 class="no-margin"><a href="#">The point of using Lorem Ipsum</a></h3>
		                            <small>19 Jan, 2015 / <a href="#">Hi-Tech,</a> <a href="#">Technology</a></small>                            
		                            <p>Phasellus ullamcorper pellentesque ex. Cras venenatis elit orci, vitae dictum elit egestas a. Nunc nec auctor mauris, semper scelerisque nibh.</p>
		                        </li>
		                        <li>
		                            <h3 class="no-margin"><a href="#">Many desktop publishing packages...</a></h3>
		                            <small>23 Jan, 2015 / <a href="#">Art,</a> <a href="#">Lifestyles</a></small>                            
		                            <p class="no-border">Integer vehicula sed justo ac dapibus. In sodales nunc non varius accumsan.</p>
		                        </li>
		                    </ul>
		                </div>
				    </div>
			    </div>
			</section><!-- /content -->
			<!-- End Content Section -->