
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <% if user_signed_in? %>
          <%= link_to "Log Out", destroy_user_session_path , :method => :delete, :class=> "btn btn-primary btn-sm navbar-btn navbar-right"%>
        <% else %>
          <%= link_to "Log in", "#login-modal" , {:class => "btn btn-primary btn-sm navbar-btn navbar-right sessionBtn", 'data-toggle' => "modal"} %>
          <!--a href="" class="btn btn-primary navbar-btn navbar-right">Log in</a-->
          <span> :: </span>s
          <%= link_to "Join Now", "#join-modal", {:class => "btn btn-warning btn-sm navbar-btn navbar-right sessionBtn", 'data-toggle' => "modal"} %>
          <!--a href="" class="btn btn-warning navbar-btn navbar-right">Join Now</a-->
        <% end %>
      </div>
    </nav><!-- End navbar -->
    
    <!-- Login Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login to Your Account</h1><br>
          <%= simple_form_for(:user, :url => session_path(:user)) do |f| %>
            <%= f.input :email %>
            <%= f.input :password %>            
            <%= f.submit "Login", :class => "login loginmodal-submit"  %>
            <%= link_to "Forgot your password?", new_password_path(:user) %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Sign Up Modal -->
    <div class="modal fade" id="join-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="joinmodal-container">
          <h1>Sign up Now!</h1><br>
          <%= simple_form_for(:user, :url => registration_path(:user)) do |f| %>
            <%= f.input :email , autofocus: true, class: "form-control", required: true %>
            <%= f.input :password,class: "form-control",  required: true  %>            
            <%= f.input :password_confirmation, class: "form-control", required: true %>
            <%= f.submit "Sign Up", :class => "join joinmodal-submit"  %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- jumbotron-->

    <!--<div class="jumbotron">-->
      <div class="container text-center" style="margin-top: 20px;">
        <div class="col-xs-6 col-xs-offset-3">

        <%= image_tag("heap_logo2.jpg", :alt => "Happily Ever After Ph", :class => "img-responsive") %>
        </div>
        <!--<h2 style="font: ">Happily Ever After Ph</h2>-->
      </div><!-- End container -->
    <!--</div>--><!-- End jumbotron-->

    <!-- Menu -->
    <nav class="navbar navbar-inverse" id="myNavMenu">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" id="myUlMenu">
          <li class="dropdown">
            <%= link_to "Home", root_path %>
            <!--a href="#">Home</a-->
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Vendors<b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li>
              <a href="#">Churches <i class="icon-arrow-right"></i></a>
              <ul class="dropdown-menu sub-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="nav-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
              <li><a href="#">Venues</a></li>
              <li><a href="#">Photography</a></li>
              <li><a href="#">Videography</a></li>
              <li><a href="#">Catering</a></li>
              <li class="divider"></li>
              <li>
                <%= link_to "See all categories", page_listings_path %>
                <!--a href="#">See all categories</a-->
              </li>

            </ul>
          </li>
          <li class="dropdown">
            <%= link_to "About", page_about_path %>
            <!--a href="#">About</a-->
          </li>
          <li class="dropdown">
            <a href="#">Gallery</a>
          </li>
          <li class="dropdown">
            <a href="#">Events</a>
          </li>
          <li class="dropdown">
            <a href="#">Promos</a>
          </li>
          <li class="dropdown">
            <%= link_to "Forums", posts_path %>
            <!--a href="#">FAQs</a-->
          </li>
          <li class="dropdown">
            <%= link_to "Contact Us", page_contact_path %>
            <!--a href="#">Contact Us</a-->
          </li>
          <% if user_signed_in? %>
          <li class="dropdown">
            <%= link_to "My Checklist", user_todo_items_path%>
            <!--a href="#">Contact Us</a-->
          </li>
          <% end %>
        </ul>
      </div>
    </nav><!-- End of Menu -->