
<div class="container">


	<br>
	<%= render partial: "shared/search_form" %>  

	<h1> Vendors </h1>

	<table class = "table table-striped">
	  <thead>
	    <tr>
	    	<th>Category </th>
	      <th>Id</th>
	      <th>Name</th>
	      <th>Address</th>

	    </tr>
	  </thead>
	  <tbody>
	  	<% if @vendors.nil? %>
	  		<h1> no vendors yet </h1>
	  	<% else %>
		    <% @vendors.each do |vendor| %>
		      <tr>
		      	<td><%= vendor.categoryId %></td>
		        <td><%= vendor.id %></td>
		        <td><%= vendor.name %></td>
		        <td><%= vendor.address %></td>
		      </tr>
		    <% end %>
		  <% end %>
	  </tbody>
	</table>

<%= will_paginate @vendors, renderer:BootstrapPagination::Rails, previous_label:"<<", next_label:">>", inner_window:1, outer_window:0%>
	
<div>
