<div class="container col-md-6 col-md-offset-3">
	
	
	<br>
	<h2> Checklist </h2>
		
		<% @user_todo_items.each do |t| %>
			<div class="index_row">
			<%if t.completed? %>
				
				<i style = "opacity: 0.4;" class ="fa fa-check"> </i>
				<strike> <%= t.item %> </strike>
				<%= link_to "Reset", reset_user_todo_item_path(t.id), method: :patch %>
				

			<% else %>
				<%= link_to complete_user_todo_item_path(t.id), method: :patch, remote: true do %>
					<i class="fa fa-check"></i>
				<% end %>

				<div id=<%= dom_id(t) %>> <%= t.item %> </div>
			<% end %>
			</div>
			<br>
		<% end %>

		

</div>