<div class="mt40 mb40">
<div class="container">


<div class="checklist-container col-xs-12 col-lg-3", style="margin-right: 10px;">

	<div class="panel-group">
		<div class="panel panel-body">

			<h3> <i class="fa fa-list-ul"></i> My Checklist </h3>
			
		</div>
		<br/>
		<p class="progress-head">Progress <span class="progress-val pull-right"><%= (@completed_user_todo_items.count * 100.0 / ( @user_todo_items.count + @completed_user_todo_items.count)).ceil.to_s + '%' %></span></p>
		<div class="progress">
	    <div class="progress-bar progress-bar-primary progress-bar-striped active"  role="progressbar" style="width: <%= (@completed_user_todo_items.count * 100.0 / ( @user_todo_items.count + @completed_user_todo_items.count)).ceil.to_s + '%' %>">
	    </div>
		</div>

		<div class="panel panel-heading", id="todo-panel-option">
			<div class="row">
				<div class="col-xs-6">
					To-Dos
				</div>
				<div class="col-xs-6">
					<span id="user-todo-count"> <%= @user_todo_items.count %> </span>
					/
					<span id="user-todo-total"> <%= @user_todo_items.count + @completed_user_todo_items.count %> </span>
				</div>
			</div>
		</div>

		<div class="panel panel-heading", id="completed-todo-panel-option">
			<div class="row">
				<div class="col-xs-6">
					Completed
				</div>
				<div class="col-xs-6">
					<span id="user-todo-completed"> <%= @completed_user_todo_items.count %> </span>
				</div>
			</div>
		</div>


	</div>
</div>



<div class=" checklist-container col-xs-12 col-lg-8">
	
		<div class="panel-group", id="all-items">
			<div class="panel-primary">
				<div class="panel-heading">
					<div class="panel-body">

					<h1 class="panel-title"> Remaining To-Dos </h1>
					</div>
				</div>
			</div>
			<hr class="mt20 mb20">
			<%= render 'new' %>
			<ul id="remaining-items-list">
				<%= render @user_todo_items %> 
			</ul>

			
		</div>

		
		<!-- completed items -->
		<div class="panel-group", id="completed-items-panel", style="display:none;">
			<div class="panel-success">
				<div class="panel-heading">
					<div class="panel-body">

					<h1 class="panel-title"> Completed Items </h1>
					</div>
				</div>
			</div>
			<hr class="mt20 mb20">
			<ul id="completed-items">
				<% @completed_user_todo_items.each do |t| %>
					
					<li class="panel  completed-todo-item", id=<%= dom_id(t)%> >
						<div class="completedTodoContent panel-body">
							<div class='completed-todo-item' >
								<i style = "opacity: 0.4;" class ="fa fa-check"> </i>
								<%= t.item %> 

								<ul class="list-inline panel-actions", style="text-align: right;margin-top: -25px;margin-bottom: 0;">
									<li>
										<%= link_to '<i class="fa fa-undo resetIcon", style="margin-right:5px;", data-toggle="tooltip" title="Restore"> </i> '.html_safe, reset_user_todo_item_path(t.id), method: :put, remote: true  %>
									</li>
								</ul>
							</div>
						</div>
					</li>
					
				<% end %>

				

			</ul>
		</div>

</div>

</div>



</div>