<div class="container">


<div class="checklist-container col-xs-12 col-lg-3", style="margin-right: 10px;">

	<div class="panel-group">
		<div class="panel panel-body">

			<h3> <i class="fa fa-list-ul"></i> My Checklist </h3>
			
		</div>
		<br>

		<div class="panel panel-heading", id="todo-panel-option">
			<div class="row">
				<div class="col-xs-6">
					To-Dos
				</div>
				<div class="col-xs-6">
					<span id="user-todo-count"> <%= @user_todo_items.count %> </span>
					/
					<span id="user-todo-total"> <%= @user_todo_items.count + @completed_user_todo_items.count %> </span>
				</div>
			</div>
		</div>

		<div class="panel panel-heading", id="completed-todo-panel-option">
			<div class="row">
				<div class="col-xs-6">
					Completed
				</div>
				<div class="col-xs-6">
					<span id="user-todo-completed"> <%= @completed_user_todo_items.count %> </span>
				</div>
			</div>
		</div>


	</div>
</div>



<div class=" checklist-container col-xs-12 col-lg-8">
	
		<div class="panel-group", id="all-items">
			<h1> Remaining To-Dos </h1>
			<ul id="remaining-items-list">
				<%= render @user_todo_items %> 
			</ul>

			<%= render 'new' %>
		</div>

		
		<!-- completed items -->
		<div class="panel-group", id="completed-items-panel", style="display:none;">
			<h1> Completed Items </h1>
			<ul id="completed-items">
				<% @completed_user_todo_items.each do |t| %>
					
					<li class="panel panel-heading completed-todo-item", id=<%= dom_id(t)%> >
						<div class="completedTodoContent">
							<div class='completed-todo-item' >
								<i style = "opacity: 0.4;" class ="fa fa-check"> </i>
								<%= t.item %> 

								<ul class="list-inline panel-actions", style="text-align: right;margin-top: -25px;margin-bottom: 0;">
									<li>
										<%= link_to '<i class="fa fa-undo resetIcon", style="margin-right:5px;", data-toggle="tooltip" title="Restore"> </i> '.html_safe, reset_user_todo_item_path(t.id), method: :patch, remote: true  %>
									</li>
								</ul>
							</div>
						</div>
					</li>
					
				<% end %>

				

			</ul>
		</div>

</div>

</div>

<div class="container col-md-6 col-md-offset-3">

		<br>
		<br>

		global footer??

</div>
