

	<div class="container">
		
			<div class="panel col-xs-4 col-md-3">
				<ul>
					<li>
						<div class="avatarDiv">
							<% if @vendor.avatars.present? %>
								<%= image_tag @vendor.avatars[0].url , :class => "avatarClass"   %>
							<%else%>
								<%= image_tag "happilyeverafterlogo2.png", :class => "avatarClass" %>
							<% end%>
						</div>
					</li>

					<li>
						<div class= "panel panel-default">
							<div class="panel-heading">
								<strong> Rating: </strong> 
								<span class="average-review-rating" data-score=<%= @average_review %>
								>
								</span>
								<br>
								<%= @vendor.reviews.count %></span><strong> Reviews </strong>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<!-- Information goes here -->
			<div class="col-xs-6 col-md-8">
				<h1> <%= @vendor.name %> </h1>
				<ul>
					<li>
						<div class="panel-body">
								Wordclass Photographer. Very Affordable. Always available.
								sfdgsdfgslksjdflgkjsdk;fjg;klsdjf;gjsdk;lfjgs;lkdfjglsf
								sfdgsdfgslksjdflgkjsdk;fjg;klsdjf;gjsdk;lfjgs;lkdfjglsf
								sfdgsdfgslksjdflgkjsdk;fjg;klsdjf;gjsdk;lfjgs;lkdfjglsf
								sfdgsdfgslksjdflgkjsdk;fjg;klsdjf;gjsdk;lfjgs;lkdfjglsf
								sfdgsdfgslksjdflgkjsdk;fjg;klsdjf;gjsdk;lfjgs;lkdfjglsf
								g
						</div>
					</li>
					<li>
						Websites: <%= link_to "website", "http://#{@vendor.websiteUrl}", :target => "_blank" %>

					</li>
					<li>
						Address: <%= @vendor.address %>

					</li>

					<li>
						Contact Information: <%= @vendor.officeNo %>
						<%= @vendor.homeNo.nil? ? "" : @vendor.homeNo.to_s %>
						<%= @vendor.cellNo.nil? ? "" : @vendor.cellNo.to_s %>
						<%= @vendor.cellNoAlt1.nil? ? "" : @vendor.cellNoAlt1.to_s %>
						<%= @vendor.cellNoAlt2.nil? ? "" : @vendor.cellNoAlt2.to_s %>
						<%= @vendor.cellNoAlt3.nil? ? "" : @vendor.cellNoAlt3.to_s %>
					</li>

					<li>
						email: <%= @vendor.emailAddress %>
					</li>
				</ul>
			</div>
		</div>

		

		
		<div class="container">
			<!-- Gallery Photos are here -->
			
			<div class="col-xs-12 col-md-8">
			 
      </div>

    
        <div class="col-xs-6 col-md-4">
        	<h2> Contact This Vendor </h2>

        	<%= simple_form_for Contact.new do |f| %>
    			<%= f.input :name, :required => true %>
    			<%= f.input :email, :required => true %>
    			<%= f.input :message, :as => :text, :required => true %>
    			<div class= "hidden">
      			<%= f.input :nickname, :hint => 'Leave this field blank!' %>
			    </div>
			    <div>
			      </br>
			      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
			    </div>
  				<% end %>



        </div>
  </div>
 
		
	
	<div class="container">


	<div style="margin-bottom: 5px;">
	<h1> Reviews </h1>
	<br>
	<%= link_to "Write a Review", new_vendor_review_path(@vendor), class: "btn btn-small btn-warning" %>


	</div>

		<table class="table">
		<tbody>
		<% @reviews.each do |review |%>
			<tr>
				
				
				<td >
					<div class="clearfix review-rating" data-score= <%= review.rating %>> 
							<%= "#{review.user.email}" %>
					</div>
					<div>
					<%= review.comment %> 
					<%= link_to "Edit", edit_vendor_review_path(review.vendor, review) %>
					<%= link_to "Delete", vendor_review_path(review.vendor, review), method: :delete, data: {confirm: "Are you sure?"} %>
					</div>
				</td>

			</tr>

		<% end %>
		</tbody>
		</table>
		<!--%= render @vendor.reviews %-->
	</div>




				
			<%= link_to "EDIT",  edit_vendor_path(@vendor) %>


</div>
</div>


<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'



	}


		);

</script>


<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}



	});
</script>
