<div class="container">

<h4> POSTS/FORUMS </h4>
<div>
<%= link_to "Start a New Thread", new_post_path %>
</div>

<div class="container">
	<div class = "row">
		<div class = "col-md-12">
			<div class = "panel panel-default">
				<div class= "panel-heading"> <h4> All Topics </h4> </div>
				<table class = "table table-hover">
					<thead> 
						<tr>
							<th class="hidden-xs topic-marker"> </th>
							<th> Title </th>
							<th class ="text-right"> Replies </th>
							<th class ="hidden-xs"> Latest Reply</th>
						</tr>

					</thead>

					<tbody>
						<% @posts.each do |p| %>
						<tr>
							<td class="hidden-xs topic-marker" > 
								<i class="fa fa-comments fa-lg">
								</i>
							</td>

							<td class="col-md-6"> 
								<div>
									<%= link_to p.title, post_path(:id => p.id) %> 
								</div>
								<small class="text-muted"> Author: <%= p.user.email %> </small>
							</td>

							<td class="col-md-1 text-right"> <%= p.comments.count %> </td>
							<td class="col-md-4 hidden-xs">
								<div>  <%= time_ago_in_words(p.comments.last.created_at ) + ' ago' unless p.comments.empty? %>
								</div>

								<small class="text-muted"> <%= p.comments.last.user.email unless p.comments.empty? %> </small>


							</td>
						</tr>
						<% end %>

					</tbody>


				</table>




				
			</div>
		</div>
	</div>



</div>

</div>