<!-- Begin Page Header -->
				<div class="header">
					<div class="container">
						<div class="row">
							<!-- Page Title -->
							<div class="col-sm-6 col-xs-12">
								
								<h1><%= truncate(@post.title, length:60) %></h1>
							</div>

							<!-- Breadcrumbs -->
							<div class="col-sm-6">
								<ol class="breadcrumb">
									<li><span class="ion-home breadcrumb-home"></span> <%= link_to "Home", root_path %></li>
									<li><%= link_to "Forum", posts_path %></li>
									<li>Category</li>
									<li><%= truncate(@post.title, length:15) %> </li>
								</ol>
							</div><!-- /column -->
						</div><!-- /row -->  
					</div><!-- /container -->  
				</div><!-- /page header -->  
				
			</header><!-- /header -->
			<!-- End Header -->

<div class="container">


	<div class="col-md-12">
		<div class="pull-right">
			&nbsp;
			&nbsp;

		</div>

		<div class="clearfix">
			&nbsp;

		</div>

		<div class="heading mt15">
			<h4> <%= @post.title %> </h4>
			
		</div>

		

		<div class="clearfix top-border">
			&nbsp;

		</div>

		<% if @comments.current_page == 1 %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title"> <%= @post.user.email %>
					</div>
				</div>
				<div class="panel-body thread-row">
					<div class="row thread-row">
						<div class="col-md-2 col-sm-3 hidden-xs text-center userblock">
						<br>user photo block
						<br>user photo block
						<br>user photo block
						<br>test
						<br>join date
						<br>wedding date
						<br>test

						</div>

						<div class="col-md-5 col-sm-6 col-xs-8">
							<div class="clearfix hidden-xs"> &nbsp; </div>
							<div class="text-muted">
								<small> 
									<span class="hidden-sm hidden-xs"> Posted: </span>
									<%= @post.created_at %>
								</small>

							</div>
						</div>

						<div class="col-md-10 col-sm-9 col-xs-12">
							<div>
								<div class="clearfix"> &nbsp; </div>
								<p> <%= @post.content %> </p>
								<div class="clearfix"> &nbsp; </div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>

		<div >
			<div id="comment-list">
			<% @comments.each do |comment| %>
				<%= render 'comments/comment',:comment => comment %>
			<% end %>
			</div>
			<div>
				<%= will_paginate @comments, renderer:BootstrapPagination::Rails, previous_label:"<<", next_label:">>", inner_window:1, outer_window:0%>
			</div>
		</div>

		
		<% if @comments.total_pages == @comments.current_page %>
			<div>
				<h4> Reply to Thread </h4>
				<div id="comment-form">
					<%= render  'comments/form'%>
				</div>
			</div>
		<% end %>
	</div>	
	
</div>

