


	
<div class="clearfix container">

	<h1>Checklist</h1>

	<div class="row">
		
		<div class="col-xs-12 col-lg-3 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active">
						<a href="#"> All
							<span class="sr-only" > (current) </span>
						</a>
				</li>

				<li>
						<a href="#"> Wedding Essentials
						</a>

				</li>

				<li>
						<a href="#"> My Suppliers
						</a>

				</li>
			</ul>	
		</div>

		<div class="col-xs-12 col-lg-8">
			<%= link_to "NEW ITEM", new_checklist_path %>
			<table class = "table">
			  <thead>
			    <tr>
			    	<th>Name </th>

			    </tr>
			  </thead>
			  <tbody>
			  	<% if @checklists.nil? %>
			  		<h4> no checklist yet </h4>
			  	<% else %>
				    <% @checklists.each do |checklist| %>
				      <tr>
				      	<td class="col-xs-12 col-md-8"> 
				      		<h4><%= checklist.name %></h4>
				      					<% checklist.user_checklists.each do |user_checklist| %> 
				      						<p> <%= user_checklist.item %> </p>
				      					<% end %>
				      	</td>
				      	<td class="col-xs-6 col-md-4">
				      		<button type="button" class="btn btn-sm btn-primary statusBtn">done</button>
				      	</td>
				      </tr>
				    <% end %>
				  <% end %>
			  </tbody>
			</table>
			

	</div>	
</div>

	<div>
		<%= form_tag import_checklist_path, multipart: true do %>
	    <%= file_field_tag :file %>
	    <%= submit_tag "Import CSV" %>

	  <% end %>

 
		
	</div>





