<!DOCTYPE html>
<html>
<head>

  <title>Happilyeverafter - Weddings, Wedding Planner, Ideas, Philippines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="nav navbar navbar-default">
		<div class="container">

  	</div>
  </div>
  
  <div class ="container">
    <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</div>

</body>
</html>
