<!DOCTYPE html>
<html lang="en">

<%= render partial: "layouts/html_head" %>

<%= render partial: "shared/flash_messages", flash: flash %> 

<body class="<%= controller.controller_name%> <%= controller.action_name%>" >
	
	<div id="bg-boxed">
		<div class="boxed">
			<%= render partial: "layouts/header" %>
			<%= render partial: "layouts/main_nav" %>

			<!--%= #render partial: "layouts/breadcrumbs" %-->
	  	<%= yield %>
	  	<%= render partial: "layouts/footer" %>
	  </div>
	</div>
	
</body>


<script>
    $('#notice').fadeOut(4000)
</script>


