<!DOCTYPE html>
<html lang="en">

<%= render partial: "layouts/html_head" %>

<%= render partial: "shared/flash_messages", flash: flash %> 

<body>
	<div id="bg-boxed">
		<div class="boxed">
			<%= render partial: "layouts/header" %>
			<%= render partial: "layouts/main_nav" %>
	  	<%= yield %>
	  	<%= render partial: "layouts/footer" %>
	  </div>
	</div>
</body>

